__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
venv/
env/
.env
*.session
*.session-journal
db.sqlite3
staticfiles/
uploads/
*.log
.DS_Store
sessions/
tg_bot/venv/
tg_bot/bot.db
tg_bot/__pycache__/
web/__pycache__/
temp/
